body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  height: 100vh;
}


.TodoList {
 

}

.TodoList .todoListContainer {
  margin-top: 250px;
  border: 2px solid black;
  padding: 10px; 
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.TodoList .todoItemInp {
  width: 70%;
  display: inline-block;
}

.TodoList .todoItemAddBtn {
  margin-left: 10px;
  width: calc(30% - 10px);
  display: inline-block;
}

.TodoList .todoListUl {
  width: 80%;
  margin: 0 auto;
  margin-top: 11px;
  text-align: center;
}

.TodoList .errorMsg {
  color:rgb(233, 108, 108);
}

.TodoList .todoItemDelete {
  color:rgb(233, 108, 108);
  cursor: pointer;
  margin-left: 2px;
}
